.insert{
  width: 20%;
  margin-top: 1%;
}

.cart-card{
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}
.mat-table{
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.mat-column-select {
  overflow: initial;
}


.example-container {
  height: auto;
  max-height: 400px;
  overflow: auto;
}


tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}

::ng-deep.mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
::ng-deep.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
  background-color: white;

  color: #1f8ac0;
  opacity: 1;
  font-size: 20px;
  font-weight: lighter;
}


.mat-header-cell {
  background-color:  black;
  color: white;
}
.mat-cell{
  border-right-width: 1px;
  border-right-style:double;
  border-right-color: gray;
  background-color: #383c42;
  color: white;

}

.mat-header-cell,  .mat-cell{
  text-align: center;
}

.mat-row:hover {
  background-color: lightblue;
}

/* .mat-row:nth-child(2n+1){
  background-color: #e4f0ec;
} */

.sellbutton{
  margin: 10px 10px 10px 10px;
  width: auto;
  height: 100px;
  text-rendering: auto;
  text-align: center;

}

/* .sellbutton:hover{
  background-color:  #1f8ac0;
  color: white;
  font-size: 20px;
  font-weight: lighter;
} */
