<br><br>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-4">
      <mat-card>

      <h3>Customer #0001</h3>
      <hr>
      <h2>Doritos</h2>
      <h2>Sabritas</h2>
      <br>
      <h4> Total ---- $55</h4>

      </mat-card>
		</div>
		<div class="col-md-8">

      <mat-card>




  <mat-card class="insert">
    <mat-card-title>Barcode Scan</mat-card-title>
    <br/>
    <form [formGroup]="form" (ngSubmit)="create();" #barcodeForm= "ngForm" autofocus>
      <mat-card-content>
        <div fxLayout="column" fxLayoutGap="15px">
          <mat-form-field>
            <input matInput
                   [formControl]="form.controls['itemScan']"
                   placeholder="Barcode"
                   autofocus
                   />

          </mat-form-field>
        </div>

      </mat-card-content>

      <br/>
      <mat-card-actions align="end">
        <!-- <button mat-raised-button (click)="cancel()" color="warn">Cancel</button> -->
        <!-- <button mat-raised-button (click)="print()" color="warn">print</button> -->
        <button mat-raised-button color="accent">Submit</button>
      </mat-card-actions>
    </form>
  </mat-card>



      </mat-card>
		</div>
	</div>
</div>
