<br><br>
<mat-card>
    <button mat-raised-button (click)="openCreateAssetTypeDialog()" >
        <span class="material-icons">
          add_circle
          </span>

        Asset Type</button>
        <br><br>

        <button mat-raised-button (click)="openCreateAssetLocationDialog()" >
            <span class="material-icons">
              add_circle
              </span>

            Add Location</button>

            <br><br>

        <button mat-raised-button (click)="openCreateAssetShelfDialog()" >
            <span class="material-icons">
              add_circle
              </span>

            Add Shelf</button>

            <br><br>

        <button mat-raised-button (click)="openCreateAssetBinDialog()" >
            <span class="material-icons">
              add_circle
              </span>

            Add Bin</button>

</mat-card>
