
<h2 mat-dialog-title>Confirmation Dialog</h2>

<div mat-dialog-content>
    <p>Are you sure you want to remove this Service: <strong>{{serviceId}}</strong> from the system?</p>
    <mat-icon>warning</mat-icon>
    <small style="color:#bf546a">WARNING: This cannot be undone!</small>
</div>

<hr>

<div mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close="cancel" color="accent">Cancel</button>
    <button mat-raised-button mat-dialog-close="confirm" color="accent" cdkFocusInitial>Accept</button>
</div>
