
<span>
  
</span>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
      <img src="{{asset[0].img}}" width="80%" height="80%" style="margin: 0 auto;" alt="">
		</div>
		<div class="col-md-6">

      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Info</th>
           
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Asset Number</th>
            <td>{{asset[0].assetNumber}}</td>
            
          </tr>
          <tr>
            <th scope="row">Asset Type</th>
            <td>{{asset[0].assetTyp}}</td>
            
          </tr>
          <tr>
            <th scope="row">Asset Model</th>
           
            <td>{{asset[0].assetModel}}</td>
          </tr>
          <tr>
            <th scope="row">Type</th>
           
            <td>{{asset[0].types}}</td>
          </tr>
          <tr>
            <th scope="row">Location</th>
           
            <td>{{asset[0].location}}</td>
          </tr>
          <tr>
            <th scope="row">Shelf</th>
           
            <td>{{asset[0].shelf}}</td>
          </tr>
          <tr>
            <th scope="row">Bin</th>
           
            <td>{{asset[0].bin}}</td>
          </tr>
        </tbody>
      </table>

      

		</div>
	</div>
</div>

<mat-dialog-actions align="end" style="margin-bottom: 2%;">
<div>

  <form [formGroup]="form" class="example-form"  style="float: right;">


    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field style='font-size: larger;' class="example-full-width">
        <mat-label>New Asset Type</mat-label>
        <input matInput type="number" formControlName="quantity" placeholder="Quantity" [formControl]="fontSizeControl" min="1">
    <span matSuffix>Qty</span>
      </mat-form-field></td>
    </tr></table>
  </form>
</div>
</mat-dialog-actions>

<mat-dialog-actions align="end" style="margin-bottom: 2%;">
  <mat-slide-toggle [(ngModel)]="isChecked" style="font-size: 15px; color: tomato; font-weight: lighter;">Create Ticket</mat-slide-toggle>
 
    
  
</mat-dialog-actions>

  <mat-dialog-actions align="end">
   
    
    <button mat-button (click)="close()">Close</button>
    <button mat-button  (click)="checkOut()">Check Out</button>
  </mat-dialog-actions>


<br>
<br>



