.mat-card{
  width: 90%;
  margin: 0 auto;
  margin-top: 2%;

}

.mat-raised-button{
  background-color:#104c91;
  width: auto;
  color: white;
}

table {
  width: 100%;
}

.mat-card-content {
  width: 90%;
  margin: 0 auto;
  margin-top: 1%;
}
.ng-container, th, td, .mat-header-cell {
  text-align: left;
  font-size: 12px;
  color: black;

}

.mat-header-cell {
  background-color: #104c91;
  color:white;
}
.mat-cell{
  border-right-width: 1px;
  border-right-style:double;
  border-right-color: lightgray;

}

.example-form mat-slide-toggle {
  margin: 8px 0;
  display: block;
  font-size: large;
}

input[type=number] {
  height: 30px;
}

input[type=number]:hover::-webkit-inner-spin-button {  
  width: 14px;
  height: 30px;
}