<br>
<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Pie Report">

        <mat-card>
            <iframe name="I1" id="if1" width="100%" 
            height="600px" style="visibility:visible" frameBorder="0"
            src="https://www.google.com/webhp?igu=1"></iframe>
        </mat-card>

    </mat-tab>




    <mat-tab label="Pay Cor">

        <mat-card>
            <iframe name="I1" id="if1" width="100%" 
            height="600px" style="visibility:visible" frameBorder="0"
            src="http://meatsale.gopack.local/#/session/sign-in-employee"></iframe>
        </mat-card>

    </mat-tab>

</mat-tab-group>

<!-- <mat-card>
    <a href="https://www.w3schools.com/">Visit W3Schools.com!</a>
    <button mat-button 
   
    [routerLink]="'www.google.com'">Google</button>


    <button onclick="loadFrame('fileToLoadinIframe')">Download</button>
    <br>

    <button type="submit" value="Submit">Submit</button>

</mat-card>
<br> -->

