.container{
  width: 100%;
  margin: 0 auto;
  margin-top: 2%;

}

.mat-raised-button{
  background-color:#104c91;
  width: auto;
  color: white;
}

table {
  width: 100%;
}

.mat-card-content {
  width: 100%;
  margin: 0 auto;
  margin-top: 1%;
}
.ng-container, th, td, .mat-header-cell {
  text-align: left;
  font-size: 15px;
 

}



.mat-header-cell {
  background-color: rgb(255, 255, 255);
 
  /* border-right-width: 1px;
  border-right-color: lightgray; */
}
/* .mat-cell, .mat-header-cell{
  border-right-width: 1px;
  border-right-style:double; 
   border-right-color: lightgray; 

} */


/* .spinner-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-color: #fafafa; 
  box-shadow:0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12)
} */

.loader-container{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: 99;
}