<form [formGroup]="form" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Company (disabled)</mat-label>
    <input matInput disabled value="Greater Omaha Packing">
  </mat-form-field>

  <table class="example-full-width" cellspacing="0"><tr>
    <td><mat-form-field class="example-full-width">
      <mat-label>Asset Number</mat-label>
      <input matInput formControlName="assetNumber">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Manufacturer</mat-label>
      <input matInput formControlName="assetTyp">
    </mat-form-field></td>
    <td><mat-form-field class="example-full-width">
      <mat-label>Model</mat-label>
      <input matInput formControlName="assetModel">
    </mat-form-field></td>
  </tr></table>

  <mat-form-field appearance="fill">
    <mat-label>Asset Type</mat-label>
    <mat-select [formControl]="form.controls['types']" name="types">
      <mat-option *ngFor="let type of types" [value]="type.text">
        {{type.text}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;
  <mat-form-field appearance="fill">
    <mat-label>Location</mat-label>
    <mat-select [formControl]="form.controls['location']" name="location">
      <mat-option *ngFor="let location of location" [value]="location.text">
        {{location.text}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  &nbsp;
  <mat-form-field appearance="fill">
    <mat-label>Shelf</mat-label>
    <mat-select [formControl]="form.controls['shelf']" name="shelf">
      <mat-option *ngFor="let shelf of shelf" [value]="shelf.text">
        {{shelf.text}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  &nbsp;
  <mat-form-field appearance="fill">
    <mat-label>Bin</mat-label>
    <mat-select [formControl]="form.controls['bin']" name="bin" id="bin" >
      <mat-option *ngFor="let bin of bin" [value]="bin.text">
        {{bin.text}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  &nbsp;

  <label for="image">Upload Image</label>
  <input [formControl]="form.controls['img']" type="File" id="image"
         name="image" value="" required>
  <!-- <mat-form-field>
    <label for="singleFile">Upload file</label>
    <input id="singleFile" [formControl]="form.controls['']" type="file" [fileUploadInputFor]= "fileUploadQueue"/>
    <br>

    <mat-file-upload-queue #fileUploadQueue
        [fileAlias]="'file'"
        [httpUrl]="'http://localhost:8180/jax-rs-jersey-application-sample'">


        <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
    </mat-file-upload-queue>
  </mat-form-field> -->


  <!-- <button mat-button color="warn" (click)="onClick()">
    <mat-icon>file_upload</mat-icon>
    Upload
</button> -->


  <!-- <app-material-file-upload (complete)="onFileComplete($event)"></app-material-file-upload> -->


  <mat-dialog-actions align="end">
    <button mat-button (click)="close()">Close</button>
    <button mat-button  (click)="submit()">Save</button>
  </mat-dialog-actions>
</form>
