.main-welcome {
  margin-top: 30px;
}

.title {
  text-align: center;
  font-weight: lighter;
}

.subtitle {
  text-align: center;
  font-size: 14px;
}
.chart{
  width: 70%;
  margin: 0 auto;
  background: #007991;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.totaltable{
  width: 60%;
  margin: 0 auto;
}

.generateReportTable{
  width: 100%;
  margin: 0 auto;
}


.mat-header-cell, .mat-footer-row {
  background-color:  #104c91;
  color: white;
  font-size: larger;
  font-weight: lighter;
}
.mat-cell{
  border-right-width: 1px;
  border-right-style:double;
  border-right-color: lightgray;

}

.mat-header-cell,  .mat-cell{
  text-align: center;
}

.mat-row:hover {
  background-color: lightblue;
}

.mat-row:nth-child(2n+1), .mat-row:hover{
  background-color: #b0ddf3;
}

