<!-- <div fxLayout="column" class="main-welcome">
 
    <div class="image">
    <img src="../../../assets/Screen Shot 2020-12-13 at 1.16.44 PM.png"  style="width: 200px; margin-top: 1px;" > &nbsp;&nbsp;
  </div>


  <br>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Productos">
      <br>
      <table class="totaltable" mat-table [dataSource]="customergraph">

      

        <ng-container matColumnDef="description" >
          <th mat-header-cell *matHeaderCellDef> Descripcion </th>
          <td mat-cell *matCellDef="let element">{{element._id.title}}  </td>
          <td mat-footer-cell *matFooterCellDef style="text-align: left; color: white; font-size: medium; font-weight: lighter;"> Total </td>
          </ng-container>

          <ng-container matColumnDef="price" >
            <th mat-header-cell *matHeaderCellDef> Precio </th>
            <td mat-cell *matCellDef="let element" style="text-align: center;">{{element._id.price | currency}}  </td>
            <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef> Producto Vendido </th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.count}}  </td>
        <td mat-footer-cell *matFooterCellDef style="text-align: center; color: white; font-size: medium; font-weight: lighter;"> {{getTotalItems()}} </td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef> Precio Total </th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.totalprice | currency}}  </td>
          <td mat-footer-cell *matFooterCellDef style="text-align: center; color: white; font-size: medium; font-weight: lighter;"> {{getTotalCost() |currency }} </td>
          </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>



      </table>








</mat-tab>
<mat-tab label="Por Fecha">

  <table class="totaltable" mat-table [dataSource]="bydates">

    <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Fecha</th>
    <td mat-cell *matCellDef="let element">{{todayDate() }} </td>
    <td mat-footer-cell *matFooterCellDef style="text-align: center; color: white; font-size: medium; font-weight: lighter;"> Total</td>
    </ng-container>

    <ng-container matColumnDef="description" >
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td mat-cell *matCellDef="let element">{{element._id.title}}  </td>
      <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>

      <ng-container matColumnDef="price" >
        <th mat-header-cell *matHeaderCellDef> Precio </th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">{{element._id.price | currency}}  </td>
        <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>

  <ng-container matColumnDef="count">
    <th mat-header-cell *matHeaderCellDef> Producto Vendido </th>
    <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.count}}  </td>
    <td mat-footer-cell *matFooterCellDef style="text-align: center; color: white; font-size: medium; font-weight: lighter;"> {{getTotalItemsbydate()}}  </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Precio Total </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.totalprice | currency}}  </td>
      <td mat-footer-cell *matFooterCellDef style="text-align: center; color: white; font-size: medium; font-weight: lighter;">{{getTotalCostbydate() | currency}}  </td>
      </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns01"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns01;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns01"></tr>



  </table>







</mat-tab>
<mat-tab label="Generate a Report">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <br>
        <div  style='margin: 50px; width: 30%; margin: 0 auto;'>
          <mat-card class="mat-elevation-z8">
            <mat-card-title>Start Date</mat-card-title>

            <form [formGroup]="form" (ngSubmit)="create()" #roleForm>
              <mat-card-content>
                <div fxLayout="column" fxLayoutGap="10px">
                
                  <br>
                  <mat-form-field class="example-full-width" appearance="fill">

                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="start" formControlName="start">
                    <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                    <mat-datepicker [dateClass]="dateClass" #start></mat-datepicker>
                  </mat-form-field>

               
                </div>


              </mat-card-content>


              <br/>
              <mat-card-actions align="end">

                <button mat-raised-button color="accent">Generate Report</button>
              </mat-card-actions>
            </form>
          </mat-card>



        </div>


      </div>

      <div class="col-md-6">
<br>

<table class="generateReportTable" mat-table [dataSource]="report">

  <ng-container matColumnDef="date">
  <th mat-header-cell *matHeaderCellDef> Fecha</th>
  <td mat-cell *matCellDef="let element">{{todayDate() }} </td>
  <td mat-footer-cell *matFooterCellDef style="text-align: center; color: white; font-size: medium; font-weight: lighter;"> Total</td>
  </ng-container>

  <ng-container matColumnDef="description" >
    <th mat-header-cell *matHeaderCellDef> Descripcion </th>
    <td mat-cell *matCellDef="let element">{{element._id.title}}  </td>
    <td mat-footer-cell *matFooterCellDef> </td>
    </ng-container>

    <ng-container matColumnDef="price" >
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">{{element._id.price | currency}}  </td>
      <td mat-footer-cell *matFooterCellDef> </td>
      </ng-container>

<ng-container matColumnDef="count">
  <th mat-header-cell *matHeaderCellDef> Producto Vendido </th>
  <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.count}}  </td>
  <td mat-footer-cell *matFooterCellDef style="text-align: center; color: white; font-size: medium; font-weight: lighter;"> {{value}}  </td>
  </ng-container>

  <ng-container matColumnDef="total">
    <th mat-header-cell *matHeaderCellDef> Precio Total </th>
    <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.totalprice | currency}}  </td>
    <td mat-footer-cell *matFooterCellDef style="text-align: center; color: white; font-size: medium; font-weight: lighter;">  </td>
    </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns02"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns02;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns01"></tr>



</table>

      </div>
    </div>
  </div>
<br>

</mat-tab>
</mat-tab-group>







     <mat-card class="chart">
      <h1 style='font-weight: lighter; text-align: center;'>Report</h1>
      <p-chart type='pie' [data]='data'></p-chart>
    </mat-card> -->



 
