
<div fxLayout="column">

  <mat-sidenav-container>

    
    
    <mat-sidenav #sidenav mode="side" opened style="
    background-color:rgb(240,68,93) ; color: black; 

     width: 20%;
    ">
      <mat-nav-list>
       
          <img src="../../../assets//2021-03-05 21_48_35-Free Logo Maker - Get Custom Logo Designs in Minutes _ Looka.png" style="width: 100%; margin: 0 auto; border-bottom: 1px solid white;" > 

      
       
<div>
        
        <a mat-list-item *ngIf='show' [routerLink]="'/'" style=" background-color: rgb(240,68,93); margin-top: 1px; margin-bottom: 1px;">
          <span class="material-icons" style="color: white;">
            settings
            </span>
            <span style="color: white;"> &nbsp;&nbsp;
            Report</span>
        </a>
     
        <a mat-list-item [routerLink]="'/asset-fields'">
          <span class="material-icons">
            dashboard
            </span>
            <span style="color: black;">&nbsp;&nbsp;Asset Fields</span>
        </a>
        <a mat-list-item [routerLink]="'/assets'">
          <span class="material-icons">
            shopping_cart
            </span>
            <span style="color: black;">&nbsp;&nbsp;Assets</span>
        </a>

        <a mat-list-item *ngIf='show' [routerLink]="'/items'">
          <span class="material-icons">
            assignment_turned_in
            </span>
            <span style="color: black;">&nbsp;&nbsp;Items</span>
        </a>

        <a mat-list-item *ngIf='show' [routerLink]="'/check-out-items'">
          <span class="material-icons">
            assignment_turned_in
            </span>
            <span style="color: black;">&nbsp;&nbsp;Check out items</span>
        </a>

        <a mat-list-item *ngIf='show' [routerLink]="'/check-in-items'">
          <span class="material-icons">
            assignment_turned_in
            </span>
            <span style="color: black;">&nbsp;&nbsp;Check-In Items</span>
        </a>

        <a mat-list-item *ngIf='show' [routerLink]="'/sell'">
          <span class="material-icons">
            assignment_turned_in
            </span>
            <span style="color: black;">&nbsp;&nbsp;Sell</span>
        </a>

        <a mat-list-item *ngIf='show' [routerLink]="'/asset-find'">
          <span class="material-icons">
            pie_chart
            </span>
            <span style="color: black;">&nbsp;&nbsp;Check-Out</span>
        </a>

        <a mat-list-item *ngIf='show' [routerLink]="'/check-in'">
          <span class="material-icons">
            pie_chart
            </span>
            <span style="color: black;">&nbsp;&nbsp;Check-In</span>
        </a>








        <!-- <a mat-list-item *ngIf='show' [routerLink]="'/sell'">
          <span class="material-icons">
            store
            </span>
            <span style="color: red;">&nbsp;&nbsp;Sell Items</span>
        </a> -->





        <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
      </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

        <!-- navigation -->
  <mat-toolbar class="matToolbar">
    <mat-toolbar-row >


      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      &nbsp;&nbsp;
      <!-- <img src="../../../assets//2021-03-05 21_48_35-Free Logo Maker - Get Custom Logo Designs in Minutes _ Looka.png" style="width: 200px; margin-top: 1px;" > &nbsp;&nbsp;
      <br> -->
      <br>

      <!-- <span> &nbsp;&nbsp;MS</span> -->

      <div fxFlex fxLayout fxLayoutAlign="flex-end">


        <ul fxLayout fxLayoutGap="20px" style="list-style: none;">

          <li fxhide.xs>
            <span style="font-size: 15px;">  Welcome {{user}}</span>
          </li>


          <li fxHide.xs>
            <button mat-icon-button>
              <mat-icon>settings</mat-icon>
            </button>
          </li>

          <li fxHide.xs>
            {{weatherInfo()}}°

           
          
          </li>

          <li>
            <button mat-icon-button [matMenuTriggerFor]="auth">
              <mat-icon>person_outline</mat-icon>
            </button>
            <mat-menu #auth="matMenu">
              <button mat-menu-item (click)="onLogout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Sign out</span>
              </button>
            </mat-menu>
          </li>

        </ul>

        </div>

    </mat-toolbar-row>

  </mat-toolbar>



      <div style="height: 88vh;">

        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

    <!-- <div fxFlex style="background-color:aqua;">
      <footer class="footer" style="background-color: black;">
        <mat-toolbar class="footer-content" style="background-color: blue;">
          <p>
            &copy; {{year | date: 'yyyy'}} - nodebucket - <a href="https://www.bellevue.edu/" class="bu-link" target="_blank">Bellevue University</a>
          </p>
        </mat-toolbar>
      </footer>
    </div> -->




  </mat-sidenav-container>

</div>







      <!-- <span class="menu-spacer"></span>
      <div>
        <button class="navbar-link" routerLink="/" mat-button>Home</button>
        <button class="navbar-link" routerLink="/session/signin" mat-button>Login</button>
        <button class="navbar-link" routerLink="/contact" mat-button>Contact Us</button>
        <button mat-icon-button *ngIf='show' class="navbar-link" routerLink="/admin" mat-icon-button><span class="material-icons">
          home</span></button>
          <span class="example-fill-remaining-space"></span>
            <button class="navbar-link" (click)='onLogout()' mat-button>Logout</button>
      </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span style="font-size: 20px;">Welcome {{username.toUpperCase()}}</span>
      </mat-toolbar-row>
  </mat-toolbar> -->








  <!-- main content -->


  <!-- footer -->
