<form [formGroup]="form" class="example-form">

    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Item Code</mat-label>
        <input matInput formControlName="itemCode">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Item Description</mat-label>
        <input matInput formControlName="itemDescription">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Item Price</mat-label>
        <input matInput formControlName="itemPrice">
      </mat-form-field></td>
  
    <td><mat-form-field class="example-full-width">
      <mat-label>Item Type</mat-label>
      <input matInput formControlName="itemType">
    </mat-form-field></td>
  </tr>
  
  
  </table>
  
  
  
    <mat-dialog-actions align="end">
      <button mat-button (click)="close()">Close</button>
      <button mat-button  (click)="submit()">Save</button>
    </mat-dialog-actions>
  </form>
  