<form [formGroup]="form" class="example-form">


    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Create New Location</mat-label>
        <input matInput formControlName="text">
      </mat-form-field></td>
    </tr></table>
  
  
    <mat-dialog-actions align="end">
      <button mat-button (click)="close()">Close</button>
      <button mat-button  (click)="submit()">Save</button>
    </mat-dialog-actions>
  </form>